<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <link href="../stylesheets/stylesheet.css" rel="stylesheet">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Pets</title>
</head>
<body>
    <h1>Pets</h1>
     <p>I like pets!</p>

    <h2>Here's a photo of a pet</h2>
    <a href="https://www.google.com/url?sa=i&url=https%3A%2F%2Fwww.orvis.com%2Fgreat-dane&psig=AOvVaw1w70JqbrJDG-IoVxHBXkQB&ust=1611456810878000&source=images&cd=vfe&ved=0CAIQjRxqFwoTCLDXvMiGse4CFQAAAAAdAAAAABAD">Great Dane</a>

    <h3>Here is a photo of a husky</h3>
    <img src="../images/husky.jpg" alt = "photo of a husky">

    <p>I really like husky dogs!</p>

    <h1>I really like husky fish!</h1>
    <p>He doesn't really like husky fish. That isn't a thing!</p>

</body>
</html>